node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma

# Logs
logs/
*.log

# Test artifacts
backups/
public/uploads/kyc/
public/uploads/chat/
public/uploads/profile/
